manifest {
    name = 'XXX'
    author = 'Bridlin Barckmann'
    homePage = ''
    description = 'metagenomic WGS analysis using Kraken2'
    mainScript = 'main.nf'
    nextflowVersion = '!>=22.04.0'
    version = '0.1'
}

nextflow.enable.dsl=2


/*
 * Default pipeline parameters. They can be overriden on the command line eg.
 * given `params.foo` specify on the run command line `--foo some_value`.
 */

params.fastq = "$projectDir/data/*_R{1,2}_001.fastq"
params.outdir = "results"
params.genome = "$projectDir/data/genome/TriTrypDB-55_TbruceiLister427_2018_Genome"
params.report_dir = "${params.outdir}/reports"

// params.run = "runX"

params.kraken2_dbs = [ 
    [ 'EuPathDB', "${launchDir}/kraken2-db/EuPathDB" ],
    [ 'PlusPF', "${launchDir}/kraken2-db/PlusPF" ]
]


profiles {

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        docker.runOptions='-u "$( id -u ):$( id -g )"'
        includeConfig "$baseDir/config/software.config"
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/software.config"
    }

    conda {
        conda.enabled = true
        includeConfig "$baseDir/config/software.config"
    }

    local {
        includeConfig "$baseDir/config/local_compute_resources.config"
    }
   
    hpc {
        // includeConfig "$baseDir/config/hpc_compute_resources.config"
        includeConfig "$baseDir/config/software.config"
        process.executor = 'slurm'
        singularity.enable = true
    }
 
    test {
        params {
            fastq = "$baseDir/data/test_samples/*_R{1,2}_001.fastq.gz"
            outdir='test_result'
        }
    }
}


 //resume = true
 

process {
  withLabel: 'docker_enabled' {
    beforeScript = "mkdir -p \"${params.report_dir}\""
  }
}


timeline {
    overwrite = true
    enabled = true
    file = "pipeline_report/execution_timeline.html"
}

report {
    overwrite = true
    enabled = true
    file = "pipeline_report/execution_report.html"
}

trace {
    overwrite = true
    enabled = true
    file = "pipeline_report/execution_trace.txt"
}

dag {
    overwrite = true
    enabled = true
    file = "pipeline_report/pipeline_dag.html"
}
