manifest {
    name = 'XXX'
    author = 'Bridlin Barckmann'
    homePage = ''
    description = 'metagenomic WGS analysis using Kraken2'
    mainScript = 'main.nf'
    nextflowVersion = '!>=22.04.0'
    version = '0.1'
}

nextflow.enable.dsl=2


params.kraken2_dbs = [ 
    [ 'EuPathDB', "${baseDir}/data/kraken2-db/EuPathDB" ],
    [ 'PlusPF', "${baseDir}/data/kraken2-db/PlusPF" ]
]



profiles {

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        docker.runOptions='-u "$( id -u ):$( id -g )"'
        includeConfig "$baseDir/config/software.config"
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/software.config"
    }

    local {
      includeConfig "$baseDir/config/local_compute_resources.config"
    }

    hpc {
        includeConfig "$baseDir/config/hpc_compute_resources.config"
    }

    test {
        params {
            fastq="$baseDir/data/*_R{1,2}_001.fastq"
            outdir='test_result'
        }
    }
}


 resume = true


timeline {
    overwrite = true
    enabled = true
    file = "pipeline_report/execution_timeline.html"
}

report {
    overwrite = true
    enabled = true
    file = "pipeline_report/execution_report.html"
}

trace {
    overwrite = true
    enabled = true
    file = "pipeline_report/execution_trace.txt"
}

dag {
    overwrite = true
    enabled = true
    file = "pipeline_report/pipeline_dag.html"
}
