// limit the system resources against which nextflow schedules processes
executor {
    name   = 'local'
    cpus   = 4
    memory = '8GB'
}

process {
    cpus = 1
    maxForks = 4
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'
    withLabel: 'fastqc' {
        cpus = 1
    
    }
}

process {

    withName: ReUsable1 {

        publishDir = [
            path: "${params.publish_dir}/ReUsable1",
            mode: 'copy',
        ]
    }

    withName: ScndStep {

        publishDir = [
            path: "${params.publish_dir}/ScndStep",
            mode: 'copy',
        ]
    }

    withName: ReUsable2 {

        publishDir = [
            path: "${params.publish_dir}/ReUsable2",
            mode: 'copy',
        ]
    }