// limit the system resources against which nextflow schedules processes
executor {
    name   = 'slurm'
    scratch = '/scratch'
}

process {
    cpus = 1
    maxForks = 4
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'
    
    withLabel: 'fastqc' {
        cpus = 4
        memory = '8GB'
    
    }
}