// limit the system resources against which nextflow schedules processes
executor {
    name   = 'local'
    cpus   = 1
    memory = '8GB'
}

process {
    cpus = 1
    maxForks = 2
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'
    
    withLabel: 'fastqc' {
        cpus = 1
    
    }
}