process {

    withLabel: 'fastqc' {
        modules = ['fastqc/0.12.1']
    }
    withLabel: 'cutadapt' {
        modules = ['cutadapt/4.5']
    }
   withLabel: 'trimmomatic' {
        modules = ['trimmomatic/0.39']
    }
    withLabel: 'samtools' {
        modules = ['samtools/1.21']
    }
    withLabel: 'picard' {
        modules = ['picard/2.23.5']
    }
    withLabel: 'kraken2' {
        modules = ['load kraken2/2.14']
    }
    withLabel: 'bowtie2' {
        modules = ['bowtie2/2.5.1']
    }
    withLabel: 'multiqc' {
        modules = ['multiqc/1.29']
    }
}

