process {

    withLabel: 'fastqc' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withLabel: 'cutadapt' {
        container = 'quay.io/biocontainers/cutadapt:4.8--py38he5da3d1_0'
    }
   withLabel: 'trimmomatic' {
        container = 'quay.io/biocontainers/trimmomatic:0.38--1'
    }
    withLabel: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.6--h5fe306e_12'
    }
    withLabel: 'picard' {
        container = 'biocontainers/picard-tools:v2.18.25dfsg-2-deb_cv1'
    }
    withLabel: 'kraken2' {
        container = 'quay.io/biocontainers/kraken2:2.1.5--pl5321h077b44d_0'
    }
    withLabel: 'bowtie2' {
        container = 'quay.io/biocontainers/bowtie2:2.5.4--he96a11b_5'
    }
    withLabel: 'multiqc' {
        container = 'quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0'
    }
}
