process {

    withLabel: 'fastqc' {
        beforeScript = 'module load fastqc/0.12.1'
    }
    withLabel: 'cutadapt' {
        beforeScript = 'module load cutadapt/4.5'
    }
   withLabel: 'trimmomatic' {
        beforeScript = 'module load trimmomatic/0.39'
    }
    withLabel: 'samtools' {
        beforeScript = 'module load samtools/1.21'
    }
    withLabel: 'picard' {
        beforeScript = 'module load picard/2.23.5'
    }
    withLabel: 'kraken2' {
        beforeScript = 'module load kraken2/2.14'
    }
    withLabel: 'bowtie2' {
        beforeScript = 'module load bowtie2/2.5.1'
    }
    withLabel: 'multiqc' {
        beforeScript = 'module load multiqc/1.29'
    }
}


